<div class="linkOne">
    <h1>Who was greeted? </h1>

    {{#each greeted}}
    <ul>
        <li> <a href="/greeted/{{username}}">{{username}}</a> </li>
    </ul>
    {{/each}}


    <form action="/home" method="POST">
        <button class="button-primary homeBtn" type="submit" name="button"> <span>Home page</span></button>
    </form>

</div>