<div class="box">
    <h1>Greeting</h1>

    <div class="error">
        {{messages.info}}
    </div>
    <div class="nameSection">

        <div class="sign">
            <p>Enter alphabet letters and not numbers, eg.Smith</p>
        </div>
        <div class="yep">
            Name
        </div>

        <div class="yep">
            <form action="/" method="POST">
                <input type="text" name="inputBox" value="" placeholder="enter your name" class="textName">
        </div>

        <div class="yep">
            <h4>counter</h4>
            <span class="counter" name="count">{{count}}</span>
        </div>



    </div>

    <div class="radioClicks">
        <label class="">
            <input id="clearOut1" type="radio" name="selected" class="selectTypeRadio1" value="English">
            <span class="label-body">English</span>
        </label>
        <label class="">
            <input id="clearOut2" type="radio" name="selected" class="selectTypeRadio1" value="Afrikaans">
            <span class="label-body">Afrikaans</span>
        </label>
        <label class="">
            <input id="clearOut3" type="radio" name="selected" class="selectTypeRadio1" value="Isixhosa">
            <span class="label-body">Isixhosa</span>
        </label>
    </div>

    <div class="buttonGreet">
        <button class="button-primary greetMeBtn" type="submit" name="button"> <span>Greet Me!</span></button>

        <button class="button-primary resetBtn" type="submit" name="button"> <span>RESET!</span></button>

    </div>

    <div class="last">
        <span class="displayedName">{{output}}</span>
    </div>
    </form>
    <div class="check">
    <span><a href="/greeted">Check List:</a></span>
    </div>
</div>